*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    overflow-x: hidden;
}

.devicon{
    font-size: 70px;
    padding: 20px;
    transition: .2s;
}
.devicon:hover{
    transform: scale(1.15);
}

/* HEADER */

.header{
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    z-index: 100;
    color: white;
    transition: .2s linear;
}

.header-container{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    font-size: 20px;
    margin: 15px;
}

.nav-ul{
    list-style: none;
    display: flex;
}

.list-item{
    margin-left: 30px;
    font-size: 20px;
}

.fa-bars::before{
    display: none;
}

/* MAIN */

.main{
    width: 100vw;
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.74);
    position: absolute;
    top: 0;
    padding-top: 70px;
    color: white;
}

.background-image{
    width: 100%;
    height: 100%;
    background-image: url(./images/mountains.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
}

.main-header{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    width: 100vw;
    text-align: center;
}

.main-text{
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

/* .main-btn:hover{
    background-color: rgb(255, 255, 255);
} */

.main-portfolio{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: none;
    padding: 6px 15px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    transition: .15s linear;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.main-portfolio:hover{
    color: black;
    background-color: white;
}

/* ABOUT */

.about{
    margin-top: 100vh;
    color: rgb(255, 255, 255);
    background-color: #222;
    width: 100%;
    height: 400px;
}

.about-container{
    margin: auto;
    width: 80%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-image{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    background-image: url(./images/headshot.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid rgba(255, 255, 255, 0.246); */
}

.about-info-container{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.about-header{
    margin: 15px 0;
}

.about-text{
    width: 100%;
    line-height: 26px;
}

.underline{
    text-decoration: underline;
}

.underline:hover{
    cursor: pointer;
}

/* SKILLS */

/* .skill-logo{
    width: 50px;
    height: 50px;
}

.skill-logo-wide{
    width: 80px;
    height: 50px;
} */

.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 400px;
}

.skills-header{
    margin-top: 35px;
}

.skill-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px auto;
    padding: 20px;
}

.skill-text{
    margin: 5px 25px;
    font-size: 24px;
}

.skills-text{
    transition: .1s linear;
    margin: 15px;
}

.skills-text:hover{
    transform: scale(1.1);
}

/* PROJECTS */

.projects{
    width: 100%;
    min-height: 700px;
    background-color: #222;
    color: white;
    display: flex;
    flex-direction: column
}

.project-flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects-header{
    text-align: center;
    padding-top: 35px;
}

.project-container{
    width: 400px;
    /* min-height: 500px; */
    height: 530px;
    background-color: #333;
    padding: 8px;
    border-radius: 3px;
    margin: 25px;
    transition: .1s linear;
}

.project-container:hover{
    cursor: pointer;
}

.project-container:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.452);
}

.project-image{
    width: 380px;
    border-radius: 5px;
}

.project-title, .project-summary, .project-summary-title{
    padding: 5px 15px;
    line-height: 1.6em;
}

.project-summary-title{
    font-weight: bold;
}

/* CONTACT */

.contact{
    width: 100%;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-contact-container{
    display: flex;
    justify-content: center;
    padding: 20px;
    min-width: 100px;
}

.contact-info{
    padding: 0 8px;
    color: black;
    text-decoration: none;
    transition: .15s linear;
}

.contact-info:hover{
    transform: scale(1.05);
}

.contact-links-container{
    display: flex;
    justify-content: center;
}

.contact-resume{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 20px;
    transition: .1s linear;
}

.contact-resume:hover{
    transform: scale(1.1);
}

footer{
    text-align: center;
    padding-bottom: 20px;
}


@media (max-width: 950px) {
    .about{
        height: 500px;
    }

    .about-container{
        width: 90%;
    }
}

@media (max-width: 800px) {
    .about{
        height: 550px;
    }

    .about-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-header{
        margin: 20px auto;
    }
}

@media (max-width: 670px) {
    .nav-ul{
        display: none;
    }

    .fa-bars::before{
        display: block;
        font-size: 30px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translate(0 , -50%);
    }

    .header-container{
        justify-content: center;
        position: relative;
    }
}

@media (max-width: 600px) {
    .about{
        height: 650px;
    }
}

@media (max-width: 520px) {
    .main-header{
        font-size: 32px;
    }

    .main-text{
        font-size: 16px;
    }

    .about{
        height: 800px;
        line-height: 30px;
    }

    .project-container{
        transform: scale(.8);
    }
    
    .project-container:hover{
        transform: scale(.9);
    }

    footer{
        font-size: 14px;
        padding-bottom: 10px;
    }
}

/* @media (max-width: 445px) {
} */

@media (max-width: 330px) {
    .main-header{
        font-size: 26px;
    }

    .main-text{
        font-size: 14px;
    }
}